@font-face {
  font-family: "font_family"; /* Project id 3230034 */
  src: url('iconfont.woff2?t=1653892928979') format('woff2'),
       url('iconfont.woff?t=1653892928979') format('woff'),
       url('iconfont.ttf?t=1653892928979') format('truetype');
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-app:before {
  content: "\e625";
}

.icon-tool:before {
  content: "\e627";
}

.icon-logout:before {
  content: "\e628";
}

.icon-password:before {
  content: "\e629";
}

.icon-user:before {
  content: "\e622";
}

.icon-home:before {
  content: "\e623";
}

.icon-website:before {
  content: "\e624";
}

.icon-setting:before {
  content: "\e626";
}

